* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(../images/spaceBG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Della Respira', serif;
    font-size: 18px;
}

.jumbotron {
    padding: 10px 0px;
    background-color: rgba(255, 255, 255, 0.65);
    color: black;
    width: 80%;
    margin: 20px auto 0px;
    
}

.jumbotron h1, p {
    text-align: center;
}

h1 {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    font-family: 'Overlock SC', cursive;
    font-size: 42px;
}

.directions {
    font-size: 18px;
}

.numberTotals {
    background-color: rgba(255, 255, 255, 0.65);
    color: black;
    text-align: center;
    width: 200px;
    margin: 10px 10px;
    height: 150px;
}

h3 {
    border-bottom: 2px solid black;
}

.numHeader {
    padding-top: 10px;
}

img {
    width: 110px;
}

.infStone {
    display: inline;
    float: left;
}

.stones{
    margin: 0px auto;
}

#winLoseTracker {
    padding-top: 20px;
    padding-left: 50px;
    text-align: left;
}

#stoneTotal, #randomNum {
    font-size: 32px;
    padding-top: 5px;
}

.winLose {
    width: 75px;
    margin-right: 5px;
    float: left;
}

#wins, #losses {
    float: left;
}